@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chakra+Petch:wght@300&family=Dela+Gothic+One&family=Lilita+One&family=Russo+One&family=Skranji:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(210, 231, 235);

}
.links{
    display: inline;
}
.links a{
    text-decoration: none;
    font-family:'Bree Serif', serif;
    font-size: large;
    padding: 0 2px 0 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    opacity: .7;
    transition: .4s;
}
.links a:hover{
    opacity: 5;
    font-size: 35px;
    transition: .4s;
}
.rounded{border-radius: 10px}
.skyblue{background-color: rgb(157, 197, 243); color:rgb(55, 32, 136)}
.purple{background-color: rgb(123, 153, 235); color: white}
.white{background-color: rgb(241, 188, 90); color: rgb(211, 62, 107)}
.pink{background-color: rgb(238, 89, 114); color: white}